<div *ngIf="openMissionDetail == false; else elseBlock">
  <mat-card class="mission-card" (click)="toggleOpenMissionDetail()">
    <mat-card-header>
      <div mat-card-avatar class="mission-header-image"></div>
      <mat-card-title style="font-size: large;">{{ mission.mission_name }}</mat-card-title>
      <mat-card-subtitle style="font-size: large;">{{ mission.launch_year }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      class="mission-patch"
      src="{{ mission.links.mission_patch_small }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p style="font-size: medium;">
        {{ mission.details }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #elseBlock>
  <app-missiondetail [mission]="mission" [toggleOpenMissionDetail]="toggleOpenMissionDetail.bind(this)"></app-missiondetail>
</ng-template>
